* {box-sizing: border-box;}

#myTopnav {
  overflow: hidden;
  background-color: var(--bgActiveColor);
  z-index: 0;
}

#myTopnav a {
  float: left;
  display: block;
  color: var(--textPassiveColor);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#myTopnav a:hover {
  background-color:var(--bgPassiveColor);
  color: var(--textActiveColor);
}

#myTopnav a.active {
  background-color: var(--highlightColor);
  color: var(--textActiveColor) !important;
}

#myTopnav #search-container {
  color: var(--textActiveColor) !important;
  float: right !important;
  border: none;
}

#myTopnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-radius: 20px;
  background-color: var(--bgPassiveColor);
  color: var(--textPassiveColor);
}

#myTopnav #search-container button {
  float: right;
  margin-top: 10px;
  margin-right: 16px;
  background: var(--bgActiveColor);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#myTopnav input[type=text] {
  outline: none !important;
  margin: 5px;
  padding: 7px;
}

.fa-search{
  background-color: var(--bgActiveColor) !important;
  color: var(--textPassiveColor);
  outline: none !important;
}

.fa-search:hover {
  color: var(--textActiveColor) !important;
}

@media screen and (max-width: 600px) {
  #myTopnav .search-container {
    float: none;
    border: none;
  }
  #myTopnav a, #myTopnav input[type=text], #myTopnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}